body{
    font: 20px Arial, sans-serif
}

.navbar {
    background-color: #D5DBDB;
}

.quem-somos{
    background-color:#839192;
    color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px
}

.servicos{
    background-color: #D5DBDB;
    color:black;
}

.parceiros{
    background-color:goldenrod;
    color: darkcyan;
    font: 20px Arial, sans-serif;
}

.bg-footer{
    background-color: black;
    color:white
}